<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />


  </head>
  <body>
    <h1><%= title %></h1>
    <!-- <h3>access_token</h3>
    <div id="access_token"></div>

    <h3>id_token</h3>
    <div id="id_token"></div>

    <h3>id_token_json</h3>
    <div id="id_token_json"></div>

    <h3>state</h3>
    <div id="state"></div> -->


  </body>
</html>
